<div class="row">
  <div class="col-xs-6">
    {% if target_form.event.choices %}
    <form action="{{ url_for('athlete.athlete_new_target', id=athlete.id) }}" class="form-inline" method="post">
      {{ target_form.hidden_tag() }}
      {{ target_form.event(class='form-control') }}
      {{ target_form.submit(value=_('Add a new target'), class='btn btn-primary') }}
    </form>
    {% endif %}
  </div>
  {% if athlete.target_results.all() %}
  <div class="col-xs-6 text-right">
    <button id="btn-graphs" class="btn btn-info" data-toggle="modal" data-target="#modLineChart">{{ _('Graph of events') }}</button>
  </div>
  {% include "athlete/graphs.html" %}
  {% endif %}
</div>
{% if not athlete.target_results.all() %}
<h4>{{ _('No target for this athlete') }}</h4>
{% else %}
<div class="accordion" id="accordionTargetResults">
  {% for event in events_participated %}
  <div class="card">
    <div class="card-header" id="headingEvent{{ event.id }}">
      <h2 class="mb-0">
        <button class="btn btn-link btn-lg text-left" type="button" data-toggle="collapse" data-target="#collapseEvent{{ event.id }}" 
        aria-expanded="alse" aria-controls="collapseEvent{{ event.id }}">
          {{ event.name }}
        </button>
      </h2>
    </div>

    <div id="collapseEvent{{ event.id }}" class="collapse" aria-labelledby="headingEvent{{ event.id }}" data-parent="#accordionTargetResults">
      <div class="card-body">
        {% include "athlete/_target_table.html" %}  
        <p>
          <form action="{{ url_for('athlete.athlete_delete_target', id=athlete.id, event=event.id) }}" method="post">
            {{ target_form.hidden_tag() }}
            {{ target_form.submit(value=_('Delete the target/results table'), class='btn btn-danger') }}
          </form>
        </p>

      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}