<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr>
				<th scope="col">Apparatus</th>
				<th scope="col" colspan="3">Target</th>
				<th scope="col" colspan="6">Results</th>
			</tr>
			<tr class="active">
				<th scope="col"></th>
				<th scope="col">SV</th>
				<th scope="col">E</th>
				<th scope="col">Score</th>
				<th scope="col">SV</th>
				<th scope="col">target (%)</th>
				<th scope="col">E</th>
				<th scope="col">target (%)</th>
				<th scope="col">Score total</th>
				<th scope="col">target (%)</th>
			</tr>
		</thead>
		<tbody>
			{% for (app, score) in athlete.target_results_from_event(event.id).items() %}
			<tr class="apparatus-{{ score.apparatus.id }}">
				<th class="active">{{ app }}</th>
				<td class="tsv-{{ score.apparatus.id }}" contenteditable="True">{{ score.target_sv }}</td>
				<td class="tex-{{ score.apparatus.id }}" contenteditable="True">{{ score.target_ex }}</td>
				<td class="ttot-{{ score.apparatus.id }}" class="active">{{ score.target_total }}</td>
				<td class="rsv-{{ score.apparatus.id }}" contenteditable="True">{{ score.result_sv }}</td>
				<td class="trsv-{{ score.apparatus.id }}" class="active">{{ score.target_result_sv }}</td>
				<td class="rex-{{ score.apparatus.id }}" contenteditable="True">{{ score.result_ex }}</td>
				<td class="trex-{{ score.apparatus.id }}" class="active">{{ score.target_result_ex }}</td>
				<td class="rtot-{{ score.apparatus.id }}" class="active">{{ score.result_total }}</td>
				<td class="trtot-{{ score.apparatus.id }}" class="active">{{ score.target_result_total }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
