{% extends "base.html" %}

{% block app_content %}
	<table class="table">
		<tr>
			<td width="192px">
				<img src="{{ athlete.picture(128) }}">
			</td>
			<td>
				<h1>{{ athlete.first_name + ' ' + athlete.last_name }}</h1>
				<p>{{ _('Date of birth: ') }}<b>{{ moment(athlete.birth_date).format('L') }}</b></p>
				{% if athlete.email %}<p>{{ athlete.email }}</p>{% endif %}
				{% if athlete.group %}
				<p>{{ _('Group: ') }}<b>{{ athlete.group.name }}</b></p>
				{% endif %}
				<p><a href="{{ url_for('athlete.athlete_edit', id=athlete.id) }}">{{ _('Edit athlete') }}</a></p>
			</td>
		</tr>
	</table>
	{% if athlete.target_results.all() %}
	{% include "athlete/_target.html" %}	
	<p>
		<form action="{{ url_for('athlete.athlete_delete_target', id=athlete.id) }}" method="post">
			{{ form.hidden_tag() }}
			{{ form.submit(value=_('Delete the target/results table'), class='btn btn-danger') }}
		</form>
	</p>
	{% else%}
	<p>
	<form action="{{ url_for('athlete.athlete_new_target', id=athlete.id) }}" method="post">
		{{ form.hidden_tag() }}
		{{ form.submit(value=_('Add a new target/results table'), class='btn btn-default') }}
	</p>	
	{% endif %}
{% endblock %}