{% extends "base.html" %}

{% block app_content %}
	<table class="table table-hover">
		<tr>
			<td width="192px">
				<img src="{{ athlete.picture(128) }}">
			</td>
			<td>
				<h1>{{ athlete.first_name + ' ' + athlete.last_name }}</h1>
				<p>{{ _('Date of birth: ') }}<b>{{ moment(athlete.birth_date).format('L') }}</b></p>
				{% if athlete.email %}<p>{{ athlete.email }}</p>{% endif %}
				{% if athlete.group %}
				<p>{{ _('Group: ') }}<b>{{ athlete.group.name }}</b></p>
				{% endif %}
			</td>
		</tr>
		{% if athlete.target_results.all() %}
		{% include "_target.html" %}	
		{% endif %}
{% endblock %}