{% extends "bootstrap/base.html" %}

{% block title %}
  {% if title %}{{ title }} - Managym{% else %}{{ _('Welcome to managym') }}{% endif %}
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Managym</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a href="{{ url_for('main.index') }}">{{ _('Home') }}</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ _('Login') }}</a></li>
        {% else %}
        <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {# app content need to be provided in app_content block #}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}
{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    {{ moment.lang(g.locale) }}
    <script>
    // function valid(evt) {
    //   var ASCIICode = (evt.which) ? evt.which : evt.keyCode;
    //   if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57)) 
    //     return false; 
    //   return true; 
    // }
    </script>
{% endblock %}