{% extends "bootstrap/base.html" %}

{% block title %}
  {% if title %}{{ title }} - Managym{% else %}{{ _('Welcome to managym') }}{% endif %}
{% endblock %}
{% block navbar %}
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Managym</a>
      </div>
      <ul class="nav navbar-nav">
        {% if current_user.is_authenticated %}
        <li><a href="{{ url_for('main.index') }}"><span class="glyphicon glyphicon-home"></span> {{ _('Home') }}</a></li>
        <li><a href="{{ url_for('athlete.athletes') }}"><span class="glyphicon glyphicon-user"></span> {{ _('Athletes') }}</a></li>
        <li><a href="{{ url_for('main.events') }}"><span class="glyphicon glyphicon-calendar"></span> {{ _('Events') }}</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_anonymous %}
        <li><a href="{{ url_for('auth.login') }}"><span class="glyphicon glyphicon-log-in"></span> {{ _('Login') }}</a></li>
        {% else %}
        {% if current_user.is_administrator() %}
        <li><a href="{{ url_for('main.admin') }}"><span class="glyphicon glyphicon-cog"></span> {{ _('Admin') }}</a></li>
        {% endif %}
        <li><a href="{{ url_for('auth.logout') }}"><span class="glyphicon glyphicon-log-out"></span> {{ _('Logout') }}</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
{% endblock %}

{% block content %}
  <div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    {% endwith %}

    {# app content need to be provided in app_content block #}
    {% block app_content %}{% endblock %}
  </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  {{ moment.include_moment() }}
  {{ moment.lang(g.locale) }}
  <script>

  function validateScoreColor(elem) {
    if (parseFloat($(elem).text()) >= 90) {
      $(elem).css('color', 'green').css('font-weight', 'bold');
    } else if (parseFloat($(elem).text()) < 80) {
      $(elem).css('color', 'red').css('font-weight', 'bold');
    } else {
      $(elem).css('color', '#b9b226').css('font-weight', 'bold');
    }
  }

  $('[contenteditable]').on('blur', evt => {
    if (!$(evt.target).text().match(/^[0-9]*\.?[0-9]*$/)) {
      $(evt.target).text('0');
    }

    // Convert number in cells in float
    var row = $(evt.target).parent()
    var tsv = parseFloat($(row).children('.tsv').text());   // target_start_value
    var tex = parseFloat($(row).children('.tex').text());   // target_execution
    var rsv = parseFloat($(row).children('.rsv').text());   // result_start_value
    var rex = parseFloat($(row).children('.rex').text());   // result_execution 

    // Calcultate empties cells
    // target_total
    $(row).children('.ttot').text(String((tsv + tex).toFixed(2))); 

    // target_result_start_value in %
    $(row).children('.trsv').text(String((tsv != 0 ? rsv / tsv * 100 : 0).toFixed(2)));
    validateScoreColor($(row).children('.trsv'))

    // target_result_execution in %
    $(row).children('.trex').text(String((tex != 0 ? rex / tex * 100 : 0).toFixed(2)));
    validateScoreColor($(row).children('.trex'))

    // result_total
    $(row).children('.rtot').text(String((rsv + rex).toFixed(2)));

    // target_result_total in %
    $(row).children('.trtot').text(String(((tsv+tex) != 0 ? (rsv + rex) / (tsv + tex) * 100 : 0).toFixed(2)));
    validateScoreColor($(row).children('.trtot'))

    // Save new targets in database post form
    var url =  window.location.pathname + '/update_target';
    var event_id = $(evt.target).closest('.collapse').attr('id').slice(-1);
    var apparatus_id = $(evt.target).parent().attr('class').split(' ')[1];
    var data = {event_id: event_id, apparatus_id: apparatus_id, tsv: tsv, tex: tex, rsv: rsv, rex: rex};
    $.post(url, data);
  });

  $(document).ready(function() {
    $('tr.apparatus > td[contenteditable]').trigger('blur');
  });


  </script>

{% endblock %}
