{% extends "bootstrap/base.html" %}

{% block title %}
	{% if title %}{{ title }} - Managym{% else %}Welcome to managym{% endif %}
{% endblock %}
{% block navbar %}
	<nav class="navbar navbar-default">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">Managym</a>
		</div>
	</nav>
{% endblock %}

{% block content %}
	<div class="container">
		{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<div class="alert alert-info" role="alert">{{ message }}</div>
			{% endfor %}
		{% endif %}
		{% endwith %}

		{# app content need to be provided in app_content block #}
		{% block app_content %}{% endblock %}
	</div>
{% endblock %}