{% extends "base.html" %}

{% block app_content %}
  <div class="row">
    <div class="col-md-8">
      <h1>{{ _('Events') }}</h1>  
    </div>
    {% if events %}
    <div class="col-md-4">
      {# <form method="get" action="{{ url_for('athlete.search') }}">
        <div class="form-group">
          {{ form.q(class='form-control', placeholder=form.q.label.text) }}
        </div>
      </form> #}
    </div>
    {% endif %}
  </div>
  {% if events %}
  <div class="row">
    <div class="table-responsive">
      <table class="table table-hover text-center">
        <thead class="thead-dark">
          <tr>
            {# <th scope="col">#</th> #}
            <th scope="col" class="text-center">{{ _('Name') }}</th>
            <th scope="col" class="text-center">{{ _('Date') }}</th>
            <th scope="col" class="text-center">{{ _('Place') }}</th>
            <th scope="col" class="text-center">{{ _('Description') }}</th>
            <th scope="col" class="text-right">
            {% if current_user.can(Permission.CREATE) %}
              <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('main.event_register') }}'">
                <span class="glyphicon glyphicon-plus"> {{ _('Add event') }}</span>
              </button>
            {% endif %}
            </th>
          </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
              {# <th scope="row">{{ athlete.id }}</th> #}
              <td>{{ event.name }}</td>
              <td>{{ event.date.strftime("%Y-%m-%d") }}</td>
              <td>{{ event.place }}</td>
              <td>{{ event.description }}</td>
              <td class="text-right">
                <a href="{{ url_for('main.event', id=event.id) }}">
                  <span class="glyphicon glyphicon-edit"></span> {{ _('Edit') }}
                </a>
              </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
    <nav aria-label="...">
      <ul class="pager">
        <li class="previous{% if not prev_url %} disabled{% endif %}">
          <a href="{{ prev_url or '#' }}">
            <span aria-hidden="true">&larr;</span> {{ _('Previous') }}
          </a>
        </li>
        <li class="next{% if not next_url %} disabled{% endif %}">
          <a href="{{ next_url or '#' }}">
            {{ _('Next') }} <span aria-hidden="true">&rarr;</span>
          </a>  
        </li>
      </ul>
    </nav>
  </div> 
  {% elif current_user.can(Permission.CREATE) %}
  <p>
    <button type="button" class="btn btn-primary" onclick="location.href='{{ url_for('main.event_register') }}'">
      <span class="glyphicon glyphicon-plus"> {{ _('Add event') }}</span>
    </button>
  </p>
  {% else %}
  <p>{{ _('No event') }}</p>
  {% endif %}
{% endblock %}